.modal_container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

.modal {
    width: 500px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: #fff;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50px;

    z-index: 100;
}

.modal_button {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 420px;
    top: 30px;

    cursor: pointer;
}

.modal_text {
    position: absolute;
    width: 400px;
    height: 100px;
    left: 50px;
    top: 150px;

    font-weight: 500;
    font-size: 30px;
    line-height: 70px;

    align-items: center;
    text-align: center;

    color: #000000;
}

.modal_selectbox {
    position: absolute;
    width: 400px;
    height: 100px;
    left: 50px;
    top: 280px;

    background: #FFFFFF;
    border: 1.5px solid #000000;
    box-sizing: border-box;
    border-radius: 30px;

    font-size: 30px;
    line-height: 70px;

    align-items: center;
    text-align: center;

    color: rgba(0, 0, 0, 0.7);
}

.modal_btn {
    position: absolute;
    width: 150px;
    height: 100px;
    left: 175px;
    top: 430px;

    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    
    font-size: 30px;
    line-height: 70px;

    align-items: center;
    text-align: center;

    color: #000000;

    cursor: pointer;
    transition: all 0.3s;
}

.modal_btn:hover {
    background-color: #FFEE93;
}