.modal_container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

.modal {
    width: 1000px;
    height: 1000px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.modal_button {
    position: relative;
    left: 940px;
    top: -100px;

    cursor: pointer;
}

.RatingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}