.container {
  max-width: 550px;
  margin: auto;
}

.title {
  padding-top: 50px;
  font-size: 30px;
  color: rgba(248, 159, 79);
  display: flex;
  justify-content: center;
}

.subtitle {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.img_container {
  display: flex;
  justify-content: center;
  margin: 70px 0 70px 0;
}

.content_img {
  width: 80%;
}

.btn {
  width: 70%;
  min-height: 54px;
  padding: 3px 6px;
  border: none;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  background: rgb(248, 159, 79);
  cursor: pointer;
  transition: transform 0.2s ease-in-out 0s;
}

.btn:hover {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .content_img {
    width: 90%;
  }
}
