#container {
  max-width: 550px;
  min-height: 550px;
  height: 100%;
  width: 100%;
  margin: auto;
}

.title {
  padding-top: 50px;
  font-size: 30px;
  color: rgba(248, 159, 79);
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  padding-top: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie_list_container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.movie_list {
  padding: 10px;
}

.movie_img {
  cursor: pointer;
  transition: transform 0.2s ease-in-out 0s;
  margin: 0 20px 15px 15px;
  float: left;
}

.movie_title {
  font-size: 18px;
  font-weight: bold;
}

.movie_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
  padding-top: 10px;
}

.movie_info_content {
  color: gray;
  margin-right: 5px;
  width: 25.75px;
}

.movie_genre_container {
  display: flex;
}

.movie_genre {
  width: 130px;
}

.btn {
  width: 70%;
  height: auto;
  min-height: 54px;
  padding: 3px 6px;
  border: none;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  background: rgb(248, 159, 79);
  cursor: pointer;
  transition: transform 0.2s ease-in-out 0s;
}

.btn:hover,
.movie_img:hover {
  transform: translateY(-5px);
}
