#container {
  max-width: 550px;
  min-height: 550px;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.title {
  padding-top: 50px;
  font-size: 30px;
  color: rgba(248, 159, 79);
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  padding-top: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character_list_container {
  
}

/* #btnbox {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0px;
  top: 0px;
}

.prevbtn {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;

  cursor: pointer;
}

.refreshbtn {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 1030px;
  top: 145px;

  align-items: center;
  text-align: center;

  cursor: pointer;

  color: #000000;
} */

.charlist {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.char_img {
  width: 100px;
  height: 100px;

  border: 1px solid #000000;
  border-radius: 10px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));

  cursor: pointer;
  transition: all 0.3s;
}

.char_name {
  margin-top: 15px;
  margin-bottom: 50px;

  font-size: 20px;

  color: #000000;
}

.char_img:hover {
  filter: brightness(70%);
}
