.container {
  max-width: 550px;
  margin: auto;
}

.title {
  padding-top: 50px;
  font-size: 30px;
  color: rgba(248, 159, 79);
  display: flex;
  justify-content: center;
}

.description {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.movie_container {
  margin: 10px 10px 20px 10px;
}

.movie_info_container {
  display: flex;
  padding: 10px;
}

.movie_img {
  width: 130px;
  margin: 0px 30px 15px 15px;
}

.movie_title {
  font-size: 18px;
  font-weight: bold;
}

.movie_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
  padding-top: 10px;
}

.movie_info_content {
  color: gray;
  margin-right: 10px;
  width: 25.75px;
}

.movie_genre_container {
  display: flex;
}

.movie_genre {
  width: 130px;
}

.RatingContainer {
  display: flex;
  padding-top: 10px;
}

.stars {
  display: flex;
  margin-right: 5px;
}

.submit_btn {
  width: 24px;
  cursor: pointer;
}

.movie_story_container {
  margin: 0px 25px;
}

.movie_story {
  margin-top: 10px;
  line-height: 30px;
  letter-spacing: -1px;
}

.btn {
  width: 70%;
  height: auto;
  min-height: 54px;
  padding: 3px 6px;
  border: none;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  background: rgb(248, 159, 79);
  cursor: pointer;
  transition: transform 0.2s ease-in-out 0s;
}

.btn:hover {
  transform: translateY(-5px);
}
