.title {
  padding-top: 50px;
  font-size: 30px;
  color: rgba(248, 159, 79);
  display: flex;
  justify-content: center;
}

.subtitle {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.description {
  padding-top: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
